In [2]:
import pandas as pd
import openpyxl
import warnings
import os
import matplotlib.pyplot as plt 
import seaborn as sns
import utils as eda

def warn(*args, **kwargs):
    pass
warnings.warn = warn
warnings.filterwarnings("ignore", category=FutureWarning)
print("Librerias cargadas")

Librerias cargadas

In [3]:
#movies = pd.read_csv("../data/interim/movies-data/ml-32m/movies.csv")
#tags = pd.read_csv("../data/interim/movies-data/ml-32m/tags.csv")
ratings = pd.read_csv("../data/interim/movies-data/ml-32m/ratings.csv")
print("Dataset Extraido")

Dataset Extraido

# Cargamos Librerías

In [4]:
target='rating'
eda.analisis(ratings) #Primer contacto cn dataset ratings

Variables numéricas: ['userId', 'movieId', 'rating', 'timestamp']
Variables no numéricas: []

Shape del dataset: (32000204, 4)

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000204 entries, 0 to 32000203
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 976.6 MB
None

Valores nulos por columna:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Filas duplicadas:
Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

Analisis de resultados :
1. Dataset sin filas completamente duplicadas.
2. Dataset Sin valores nulos

In [5]:
# Convertir timestamp a fecha legible
ratings['datetime'] = pd.to_datetime(ratings['timestamp'], unit='s')
ratings['year'] = ratings['datetime'].dt.year

print("RANGO TEMPORAL:")
print(f"Fecha más antigua: {ratings['datetime'].min()}")
print(f"Fecha más reciente: {ratings['datetime'].max()}")
print(f"Años cubiertos: {ratings['year'].min()} - {ratings['year'].max()}")
print("\n" + "="*50)
ratings.head()

RANGO TEMPORAL:
Fecha más antigua: 1995-01-09 11:46:44
Fecha más reciente: 2023-10-13 02:29:07
Años cubiertos: 1995 - 2023

==================================================

   userId  movieId  rating  timestamp            datetime  year
0       1       17     4.0  944249077 1999-12-03 19:24:37  1999
1       1       25     1.0  944250228 1999-12-03 19:43:48  1999
2       1       29     2.0  943230976 1999-11-22 00:36:16  1999
3       1       30     5.0  944249077 1999-12-03 19:24:37  1999
4       1       32     5.0  943228858 1999-11-22 00:00:58  1999

In [6]:
# elimina la columna timestamp
ratings.drop(columns=['timestamp'], inplace=True)

# Verificar
print(ratings.head())

   userId  movieId  rating            datetime  year
0       1       17     4.0 1999-12-03 19:24:37  1999
1       1       25     1.0 1999-12-03 19:43:48  1999
2       1       29     2.0 1999-11-22 00:36:16  1999
3       1       30     5.0 1999-12-03 19:24:37  1999
4       1       32     5.0 1999-11-22 00:00:58  1999

In [ ]:
# Análisis de valores únicos
print("VALORES ÚNICOS:")
print(f"Usuarios únicos: {ratings['userId'].nunique():,}")
print(f"Películas únicas: {ratings['movieId'].nunique():,}")

VALORES ÚNICOS:
Usuarios únicos: 200,948
Películas únicas: 84,432

In [ ]:
# Distribución de ratings por usuario
user_rating_counts = ratings['userId'].value_counts()
print(" DISTRIBUCIÓN DE ACTIVIDAD DE USUARIOS:")
print(f"Usuario más activo: {user_rating_counts.max()} ratings")
print(f"Usuario menos activo: {user_rating_counts.min()} ratings")
print(f"Mediana de ratings por usuario: {user_rating_counts.median()}")

 DISTRIBUCIÓN DE ACTIVIDAD DE USUARIOS:
Usuario más activo: 33332 ratings
Usuario menos activo: 20 ratings
Mediana de ratings por usuario: 73.0

In [ ]:
# Distribución de ratings por película
movie_rating_counts = ratings['movieId'].value_counts()
print(" DISTRIBUCIÓN DE POPULARIDAD DE PELÍCULAS:")
print(f"Película más valorada: {movie_rating_counts.max()} ratings")
print(f"Película menos valorada: {movie_rating_counts.min()} ratings")
print(f"Mediana de ratings por película: {movie_rating_counts.median()}")

 DISTRIBUCIÓN DE POPULARIDAD DE PELÍCULAS:
Película más valorada: 102929 ratings
Película menos valorada: 1 ratings
Mediana de ratings por película: 5.0